#generateZone {
    min-width:500px;
}


#generateZone div.row {
    display: flex;
    justify-content: flex-start;
}

#generateZone div.labelsZone {
    min-width: 80px;
}

#generateZone #tagName{
    width:80px;
}

#generateZone #displayName{
    width:100%;
}